			<!-- Blog Area -->
			<section class="cr-section blog-area ">
				<div class="container">
					<div id="bg_block_section" class="row">


						<!-- Single Blog -->

						<div class="col-12 blog-item-ver pad-lf-ri-0">
							<div class="blog-item-vert-1">
									<a href="{{ md_block.link_1|t }} ">
									     <i class="{{ md_block.icon_1|raw }}"></i>  
										<h6 class="h6">{{ md_block.title_1|raw|t }} </h6>
									</a>
							</div>
						</div>
						<!--// Single Blog -->
												<!-- Single Blog -->
						<div class="col-12 blog-item-ver pad-lf-ri-0">
							<div class="blog-item-vert-3">
									<a href="{{ md_block.link_2|t }}">
									<i class="{{ md_block.icon_2|raw }}"></i> 
										<h6 class="h6">{{ md_block.title_2|raw|t }}</h6>
									</a>
							</div>
						</div>
						<!--// Single Blog -->
												<!-- Single Blog -->
						<div class="col-12 blog-item-ver pad-lf-ri-0">
							<div class="blog-item-vert-2">
									<a href="{{ md_block.link_3|t }} ">
									<i class="{{ md_block.icon_3|raw }}"></i> 
										<h6 class="h6">{{ md_block.title_3|raw|t }}</h6>
									</a>
							</div>
						</div>
						<!--// Single Blog -->
												<!-- Single Blog -->
						<div class="col-12 blog-item-ver pad-lf-ri-0">
							<div class="blog-item-vert-4">
									<a href="{{ md_block.link_4|t }} ">
									<i class="{{ md_block.icon_4|raw }}"></i> 
										<h6 class="h6">{{ md_block.title_4|raw|t }}</h6>
									</a>
							</div>
						</div>
						<!--// Single Blog -->


					</div>
				</div>

			</section>
