{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *  - {{ kint(product_entity)}}
 * @ingroup themeable
 */
#}
{% set roles = user.getroles(TRUE) %}
<article {{ attributes }} {% if roles[0] == "instruction" or roles[0] == "comptable" %} id="rokhas-dossier-1" {% else %} id="rokhas-dossier"{% endif %}>
  {% if product.variation_price['#object'] is not null %}
  <header>
    <div class="post__meta">
    <h1 class="post__title">{% trans %}Régler un dossier{% endtrans %}</h1>
  </header>
  <div class="post__entry">
    {{- product|without('variation_attributes') -}}
 
   
  </div> 
  {% endif %}
  <footer>
    {% if user_logged %}
<div class="pdf"><a href="{{product_url}}/pdf-download">{{ "Télécharger  fiche technique de projet "}}</a></div>
{% endif %}
  </footer>

