<div class="field field--name-title-text"></div>

        <ol class="organizational-chart">
            <li>
                <div>
                    <h1>
					<a href=""  data-toggle="popover" 
data-content="{{ md_org.dir_desc_au.value|raw }}"  data-trigger="focus" title="{{ md_org.dir_nom_au }}" >{{ md_org.dir_title_au }}</a>
</h1>
                </div>
                
                
                <ol>
                    <li>
                        <div>
                            <h2> 						

<a href="#"  data-toggle="popover" 
data-content="{{ md_org.ch_mis_desc_au.value|raw }}"  data-trigger="focus" title="{{ md_org.ch_mis_nom_au }}" >{{ md_org.ch_mis_title_au }}</a>		
</h2>
                        </div>
                        
                    </li>
                    <li>
                        <div>
                            <h2><a href="#"  data-toggle="popover" 
data-content="{{ md_org.ch_mis_nom_au.value|raw }}"  data-trigger="focus" title="{{ md_org.ch_mis_nom_au }}" >{{ md_org.ch_mis_nom_au }}</a> </h2>
                        </div>
								<ol>
								<li>
								<div>
									<h2>Division des Etudes</h2>
								</div>
								<ol>
												<li>
												<div>
													<h2>Service des Etudes Générales</h2>
												</div>
												
											</li>
											<li>
												<div>
													<h2>Service de l’Urbanisme et de l’Architecture</h2>
												</div>
												
											</li>
												</ol>
							</li>
							<li>
								<div>
									<h2>Division des Etudes Foncières et de la Topographie</h2>
								</div>
								<ol>
												<li>
												<div>
													<h2>Service des Etudes foncières</h2>
												</div>
												
											</li>
											<li>
												<div>
													<h2>Service de la Topographie</h2>
												</div>
												
											</li>
												</ol>
							</li>
								</ol>
                    </li>
					 <li>
                        <div>
                            <h2><a href="#"  data-toggle="popover" 
data-content="{{ md_org.ch_mis_nom_au.value|raw }}"  data-trigger="focus" title="{{ md_org.ch_mis_nom_au }}" >{{ md_org.ch_mis_nom_au }}</a></h2>
                        </div>
								<ol>
								<li>
								<div>
									<h2>Service du Budget, des Marchés et de l’Equipement</h2>
								</div>
								
							</li>
							<li>
								<div>
									<h2>Service du Personnel, de la Formation et de la Documentation</h2>
								</div>
								
							</li>
								</ol>
                        
                    </li>
					 <li>
							<div>
								<h2> <a href="#"  data-toggle="popover" 
data-content="{{ md_org.ch_mis_nom_au.value|raw }}"  data-trigger="focus" title="{{ md_org.ch_mis_nom_au }}" >{{ md_org.ch_mis_nom_au }}</a></h2>
							</div>
						<ol>
						<li>
								<div>
									<h2>Division de la Gestion Urbaine</h2>
								</div>
												<ol>
												<li>
												<div>
													<h2>Service de l’Instruction</h2>
												</div>
												
											</li>
											<li>
												<div>
													<h2>Service du Contrôle</h2>
												</div>
												
											</li>
												</ol>
                        
                    </li>
					<li>
							<div>
								<h2>Division des Affaires Juridiques et de la Réglementation</h2>
							</div>
											<ol>
											<li>
											<div>
												<h2>Service des Affaires Juridiques</h2>
											</div>
											
										</li>
										<li>
											<div>
												<h2>Service de la Réglementation et de l’Orientation</h2>
											</div>
											
										</li>
											</ol>
                    </li>
						</ol>
                        
                    </li>
					 <li>
                        <div>
                            <h2> <a href="#"  data-toggle="popover" 
data-content="{{ md_org.ch_mis_nom_au.value|raw }}"  data-trigger="focus" title="{{ md_org.ch_mis_nom_au }}" >{{ md_org.ch_mis_nom_au }}</a> </h2>
                        </div>
                        
                    </li>
                   
                    
                </ol>
            </li>
        </ol>

   