221
<div class="row">
			
			22
				<div class="col-md-2"><h1 class="title4">E-services</h1></div>
				<div class="col-md-10"><hr></div>
				
			

<div class="col-md-12">
			<section class="section-3">
				<div class="E-services">
					<div class="list-menu">
						<nav class="main-nav">
							<div class="full-wrapper">
								<div class="inner-nav">
									
									<div class="flex-container">

										<div class="flex-menu E-presentation" style="height: 300px;">
											<div class="menu-icon">
												<a href="">
													<img class="nav-icon " src="{{ base_path ~ directory }}/images/icon1.png">
												</a>
											</div>
											<div class="title-btn">
												<div class="flex-title">
													E-presentation
												</div>
												<div class="flex-about button-1">
													<a href="{{ sliders.link_1 }}" class="hover-servi">{{ sliders.title_1 }} </a>
													<a href="{{ sliders.link_2_1 }}" class="hover-ser">{{ sliders.title_2_1 }}</a>
												</div>
											</div>
										</div>

										<div class="flex-menu E-reclamations" style="height: 300px;">
											<div class="menu-icon">
												<a href="">
													<img class="nav-icon " src="{{ base_path ~ directory }}/images/icon2.png">
												</a>
											</div>
											<div class="title-btn">
												<div class="flex-title">
													E-réclamations
												</div>
												<div class="flex-about button-1">
													<a href="{{ sliders.link_2 }}" class="hover-servi">{{ sliders.title_2 }} </a>
													<a href="{{ sliders.link_2_2 }}" class="hover-ser">{{ sliders.title_2_2 }}</a>
												</div>
											</div>
										</div>

										<div class="flex-menu E-notes" style="height: 300px;">
											<div class="menu-icon">
												<a href="">
													<img class="nav-icon " src="{{ base_path ~ directory }}/images/icon3.png">
												</a>
											</div>
											<div class="title-btn">
												<div class="flex-title">
													E-notes
												</div>
												<div class="flex-about button-1">
													<a href="{{ sliders.link_3 }}" class="hover-servi">{{ sliders.title_3 }} </a>
													<a href="{{ sliders.link_2_3 }}" class="hover-ser">{{ sliders.title_2_3 }}</a>
												</div>
											</div>
										</div>

										<div class="flex-menu commissionsprgresultats" style="height: 300px;">
											<div class="menu-icon">
												<a href="">
													<img class="nav-icon " src="{{ base_path ~ directory }}/images/icon4.png">
												</a>
											</div>
											<div class="title-btn">
												<div class="flex-title">
													Commissions: Programes & Résultats
												</div>
												<div class="flex-about button-1">
													<a href="{{ sliders.link_4 }}" class="hover-servi">{{ sliders.title_4 }} </a>
													<a href="#" class="hover-ser">{{ sliders.title_2_4 }}</a>
												</div>
											</div>
										</div>

										<div class="flex-menu  ventesdocuments" style="height: 300px;">
											<div class="menu-icon">
												<a href="">
													<img class="nav-icon " src="{{ base_path ~ directory }}/images/icon5.png">
												</a>
											</div>
											<div class="title-btn">
												<div class="flex-title">
													Vente des documents
												</div>
												<div class="flex-about button-1">
													<a href="{{ sliders.link_5 }}" class="hover-servi">{{ sliders.title_5 }}</a>
												</div>
											</div>
										</div>

										<div class="flex-menu  portail" style="height: 300px;">
											<div class="menu-icon">
												<a href="">
													<img class="nav-icon " src="{{ base_path ~ directory }}/images/icon6.png">
												</a>
											</div>
											<div class="title-btn">
												<div class="flex-title">
													Géo-portail
												</div>
												<div class="flex-about button-1">
													<a href="{{ sliders.link_6 }}" class="hover-servi">{{ sliders.title_6 }}</a>
												</div>
											</div>
										</div>
									</div>

								</div>
								<div class="cb"></div>
							</div>
						</nav>
					</div>
					<div class="cb"></div>
				</div>				
			</section>
			</div>
</div>