<div class="row video">
<div class="col-12">
<div  class="field field--name-title-text field--type-string">{{ 'Vidéothèque'|t }} </div></div>
{% set lang = cur_lang %}
    {% for node in nodes %}
    <div class="col-md-3">
        {% set code = node.field_video.0.value|split('/') %}
      <a class="video-popup-trigger" href="https://www.youtube.com/watch?v={{ code
              |last }}">
          <img class="" src="https://img.youtube.com/vi/{{ code
              |last }}/hqdefault.jpg">
              </a>
           <p>  {% if node.hastranslation(lang) %}
    {{ node.translation(lang).title.0.value }}
    {% else %}
    {{ 'No translation'|t }}
    {% endif %} </p>
        </div>
    {% endfor %}
</div>
