<!-- Blog Area -->
 {% set lang = cur_lang %}
<section class="cr-section blog-area " id="md_actu_auer">
    <div class="row tp-cc margin-0">
      <div class="col-lg-6 col-6">
        <div class=" text-left">
          <h2>{% trans %}Actualités{% endtrans %}</h2>
        </div>
      </div>
      <div class="col-lg-6 col-6" id="btn-mr">
        <div class="text-right">
          <a href="{{ base_path }}{{ cur_lang }}/tous-les-actualites" >
            <span class="more">{% trans %}+ d’actualités {% endtrans %}</span>
          </a>
        </div>
      </div>
    </div>
     {% set lang = cur_lang %}
    <div class="row blog-slider-sigle{% if lang == "ar" %}-rtl{% endif %} slider-navigation-style-1">
{% for node in nodes %}
      <div class="col-lg-4 margin-0">
        <img src="{{ file_url(node.field_service_images.entity.fileuri) }}" alt="{{ node.label }}"/>
        <div class="gb-desc">
        {% if node.hastranslation(lang) %}
                   {% set text = node.translation(lang).title.0.value|render|striptags %}
          <h3><a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ text|length > 70 ? text|slice(0, 70) ~ '...' : text }}</a></h3>
    
    {% else %}
     <h3>No translation</h3>
    {% endif %}
          
         
        </div>
      </div>
{% endfor %}

    </div>
</section>
