{%
  set classes = [
    'node',
    'node-detail',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

<!-- Start Display article for teaser page -->
{% if teaser == true %} 
  <div class="post-block">
    <div class="post-image">
      {% if post_format == 'video' or post_format == 'audio' and gva_iframe %}
        {{ gva_iframe|raw }}
      {% elseif post_format == 'gallery' and content.field_post_gallery %}
        {{ content.field_post_gallery }}
      {% else %}
        {{ content.field_image }}
      {% endif %} 
    </div>
    <div class="post-content text-left">
      <div class="post-title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </div>            
        <div class="post-meta">
          <span class="post-categories">{{ content.field_post_category }}</span>
        </div>
       <div class="post-body">{{ content.body }}</div>
    </div>
  </div>

<!-- End Display article for teaser page -->
{% else %}
<!-- Start Display article for detail page -->

<article{{ attributes.addClass(classes) }}>
  <div class="post-block">
      
    

    <div class="post-content">
<div class="post-thumbnail post-{{ post_format }}">
       <div  class="field field--name-title-text field--type-string ">{{ label }}</div>
      
      <div class="row" id="publication-interne">
      <div class="img-pub"> 
        <div class="">
          {% if content.field_image_slider %}
            {{ content.field_image_slider }} 
          {% endif %}
        </div>
      </div>
    </div> 
 

      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_image_slider','field_post_category', 'field_post_format', 'field_post_type', 'field_post_embed', 'field_post_gallery', 'comment') }}
      </div>
      
    </div>

  </div>

</article>

<!-- End Display article for detail page -->
{% endif %}