<div class="row  mb-0 ml-0 mr-0 ">
    <div class="col-6 pb-0 pt-0 p-1">
        <a href="{{ social.facebook }}">
								<div class="fb">								
										<img class="logos" src="http://localhost/autar/themes/autar/images/fb.png">								
								</div>
								</a>
        							  
    </div>
    <div class="col-6 pb-0 pt-0 p-1">
        			<a href="{{ social.twitter }}">
								<div class="twitter">
									
										<img class="logos" src="http://localhost/autar/themes/autar/images/twitter.png">
									
								</div>
								</a>					
    </div>
</div>
<div class="row  mb-0 ml-0 mr-0 ">
    <div class="col-6 pb-0 pt-0 p-1">
<a href="{{ social.youtube }}"><div class="youtube">
									
										<img class="logos" src="http://localhost/autar/themes/autar/images/youtube.png">
									
								</div></a>
    </div>
    <div class="col-6 pb-0 pt-0 p-1">
              <a href="{{ social.google }}">
								<div class="google">
									
										<img class="logos {{ base_path }}" src="http://localhost/autar/themes/autar/images/google.png">
									
								</div>
</a>  
    </div>
</div>
